version: '2'

services:
  billtracker:
    container_name: billtracker
    build: ../
    command: ["/bin/bash", "-c", "npm i --quiet && npm run dev & npm run watch"]
    environment:
      - NODE_ENV=development
      - DEBUG=billtracker*
      - MONGO_URL=mongodb://mongo/development
      - ORGANIZATION_NAME=Billtracker
    links:
      - mongo
    ports:
      - 3000:3000
    volumes:
      - ${PWD}/lib:/usr/src/lib
      - ${PWD}/public:/usr/src/public
      - ${PWD}/config:/usr/src/config
    tty: true

  mongo:
    image: mongo
    ports:
      - 27017:27017
    volumes:
      - ../tmp/db:/data/db
