doctype
html(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Seguí el estado de los proyectos de Ley.')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Bill Tracker

    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='/site.css', rel='stylesheet')
  body
    div(data-content)
    script(src='/site.js')