doctype
html
  head
    title Admin | Bill Tracker
    link(href='/admin.css', rel='stylesheet')
  body(ng-app='myApp')
    header
      a(href='/') &larr; Go back
    main(data-content)
    div(ui-view='')
    script(src='/admin.js')
