dialog.politician-modal.mdl-dialog
  button.mdl-button--icon.mdl-button.close(data-close)
    i.material-icons.md-14 close

  .politician-avatar
    .mdl-list__item-avatar.avatar(data-dialog, style='background-image: url(#{politician.pictureURL})')
      i.material-icons

    h1= politician.fullname
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus nulla non odio pellentesque porta. Nulla semper nisi nec neque aliquet sagittis.

    .politician-state
      p= politician.jurisdiction.name
      i.material-icons.md-7 fiber_manual_record
      p.party Coalición Cívica

    .contact
      a(href="#" target="_blank")
        img(src="../politician-modal/facebook.svg" alt="Facebook Logo" height="17")
      a(href="#" target="_blank")
        img(src="../politician-modal/twitter.svg" alt="Facebook Logo" height="17")
      a(href="#" target="_blank")
        img(src="../politician-modal/email.svg" alt="Facebook Logo" height="17")

  //-
    .politician-work
      .comisiones
        h4 Comisiones
        ul
          li Asuntos Constitucionales
          li Asuntos Constitucionales
      .divider
      .bill-project
        h4 Proyectos
        ul
          each val in [1, 2]
            li= val
