doctype
html
  head
    title Bill Tracker
    link(href='/site.css', rel='stylesheet')
  body
    header
      a(href='/') Home
      | &nbsp;
      a(href='/bills') Bills
      | &nbsp;
      a(href='/admin') Admin
    main(data-content)
    script(src='/site.js')
