@font-face {
	font-family: 'Avenir Next';
	src: url('/static/fonts/assets/AvenirNextLTPro-Bold.eot');
	src: url('/static/fonts/assets/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/assets/AvenirNextLTPro-Bold.woff') format('woff'),
		url('/static/fonts/assets/AvenirNextLTPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: bold;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('/static/fonts/assets/AvenirNextLTPro-Demi.eot');
	src: url('/static/fonts/assets/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/assets/AvenirNextLTPro-Demi.woff') format('woff'),
		url('/static/fonts/assets/AvenirNextLTPro-Demi.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('/static/fonts/assets/AvenirNextLTPro-Regular.eot');
	src: url('/static/fonts/assets/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/assets/AvenirNextLTPro-Regular.woff') format('woff'),
		url('/static/fonts/assets/AvenirNextLTPro-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('/static/fonts/assets/AvenirNextLTPro-DemiIt.eot');
	src: url('/static/fonts/assets/AvenirNextLTPro-DemiIt.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/assets/AvenirNextLTPro-DemiIt.woff') format('woff'),
		url('/static/fonts/assets/AvenirNextLTPro-DemiIt.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('/static/fonts/assets/AvenirNextLTPro-It.eot');
	src: url('/static/fonts/assets/AvenirNextLTPro-It.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/assets/AvenirNextLTPro-It.woff') format('woff'),
		url('/static/fonts/assets/AvenirNextLTPro-It.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
