.bill-nav
  small
    LEG 22.222 - Indice
    button#bill-index.mdl-button.mdl-js-button.mdl-button--icon
      i.material-icons.md-18 keyboard_arrow_down

  ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu(for="bill-index")
    each val, index in {1:'Sarasa',2:'Sarasa'}
      li.mdl-menu__item= val + ' ' + index
      li.mdl-menu__item.mdl-menu__item--full-bleed-divider Divider
      li.mdl-menu__item Other item

  small
    button#bill-change.mdl-button.mdl-js-button.mdl-button--icon
      i.material-icons.md-18 keyboard_arrow_down
    i.material-icons.md-24 list

  ul.mdl-menu.mdl-js-menu.mdl-js-ripple-effect(for="bill-change")
    each val, index in {1:'Sarasa',2:'Sarasa'}
      li.mdl-menu__item= val + ' ' + index
      li.mdl-menu__item.mdl-menu__item--full-bleed-divider Divider
      li.mdl-menu__item Other item