.mdl-navigation__link
  opacity: 1

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover
  background: inherit

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover .stage-title,
  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover .stage-overview
  color: #fff

.bills-stages-sidebar
  display: flex
  flex-direction: column
  justify-content: space-between
  background-color: #2b3245
  padding-bottom: 48px

  .logo
    max-width: 100%

  .mdl-layout-title
    padding: 48px 20px 20px 20px

  h1
    margin: 0
    padding: 0
    color: #fff
    font-weight: 700
    font-size: 2.75rem

  .mdl-navigation
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between
    flex-grow: 2
    padding: 0

  .vertical-line
    position: absolute
    left: 23px
    top: calc(8px)
    height: 100%
    height: calc(100% - 12px)
    width: 2px
    display: flex
    flex-direction: column
    justify-content: flex-start

    .color-line
      position: relative
      width: 2px
      height: 100%
      background-color: #eef1f6

      &:after
        content: ''
        position: absolute
        width: 100%
        left: 0
        bottom: 0
        height: 0
        background-color: #fb416a
        transition: 1s ease-out

      &.active:after
        height: 100%

  .stage
    position: relative
    top: 6px
    padding: 0 20px !important
    margin-left: 25px !important
    cursor: pointer
    color: #fff

    &:last-of-type
      .stage-overview
        position: relative

      .stage-circle
        bottom: 0
        top: auto

    &:first-of-type
      .stage-circle
        top: 0

    &.active
      .stage-circle
        background-color: #fb416a

      .stage-overview
        display: block
        color: #fff

      .stage-title
        color: #fff

  .stage-date,
  .stage-title,
  .stage-overview
    color: #8a8e98

  .stage-date
    font-size: .8rem
    margin: 0
    line-height: 1
    margin-bottom: 5px

  .stage-title
    font-size: 1.1rem
    font-weight: 700
    line-height: 1.4rem
    margin: 0
    margin-bottom: -5px

  .current-stage
     color: #fff

  .stage-overview
    position: absolute
    top: 100%
    font-weight: 100
    font-size: .9rem
    letter-spacing: .02rem
    line-height: 1rem
    margin: 10px 0 0
    display: none

  .stage-circle
    position: absolute
    top: 35%
    left: -6px
    width: 10px
    height: 10px
    background-color: #eef1f6
    border-radius: 50%

@media screen and (max-width: 1024px)
  .translate-none
    transform: translateX(0) !important