.bill-nav
  margin-top: 48px
  text-transform: uppercase
  display: flex
  justify-content: space-between

  small
    color: #b4babf

  .mdl-button:hover
    background-color: transparent
    color: #fb416a

  .mdl-button--icon
    border: none

  i.md-24
    transform: translateY(30%)

  .mdl-menu__outline
    border-radius: 10px

  .mdl-menu__item
    height: 40px
    line-height: 40px
    font-size: 1rem
    font-weight: 700
    padding: 0 25px