.bills.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
  header.mdl-layout__header
    .bill-title-container

      include ./bill-nav

      h1 #{bill.title}

      .switch-container.active
        p.text
          span.text-activate Activar comparación
          span.text-deactivate Desactivar comparación

        label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for="switch-1")
          input#switch-1.mdl-switch__input(type="checkbox", data-diff-toggle)
          span.mdl-switch__labelb

  include ./bills-stages-sidebar

  include ./author

  main.mdl-layout__content
    .bill-body
      div(bill-contents) !{bill.contents}
