.bills.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
  header.mdl-layout__header
    .bill-title-container

      include ./bill-nav

      h1 #{bill.title}

      .switch-container.active
        p.text
          span.text-activate Activar comparación
          span.text-deactivate Desactivar comparación

        label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for="switch-1")
          input#switch-1.mdl-switch__input(type="checkbox")
          span.mdl-switch__labelb

  include ./bills-stages-sidebar

  include ./author

  main.mdl-layout__content
    .bill-body
      h3 TÍTULO 1 . DISPOSICIONES GENERALES
      h4 Capítulo 1 - Objeto
      h5 Articulo 1º
      div(bill-contents)
        each diff in diffs
          span(class = diff.isAddition ? 'addition': diff.isDeletion ? 'deletion' : '') #{diff.contents}
          br
