.bills.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
  header.mdl-layout__header
    h1 #{bill.title}
  .mdl-layout__drawer
    span.mdl-layout-title
      a.mdl-navigation__link(href='/') Bill Tracker
    nav.mdl-navigation
      each stage in bill.stages
        a.mdl-navigation__link #{stage.stageID}
  .bills-author.mdl-layout__drawer
    span.mdl-layout-title Author
    .author
      h1 #{bill.author}
      i.material-icons.mdl-list__item-avatar person

    .demo-list-action.mdl-list
      .mdl-list__item
        span.mdl-list__item-primary-content
          i.material-icons.mdl-list__item-avatar person
          Bryan Cranston
        a.mdl-list__item-secondary-action(href='#'): i.material-icons star
      .mdl-list__item
        span.mdl-list__item-primary-content
          i.material-icons.mdl-list__item-avatar person
          Bryan Cranston
        a.mdl-list__item-secondary-action(href='#'): i.material-icons star
      .mdl-list__item
        span.mdl-list__item-primary-content
          i.material-icons.mdl-list__item-avatar person
          Bryan Cranston
        a.mdl-list__item-secondary-action(href='#'): i.material-icons star

  main.mdl-layout__content
    p #{bill.stages[bill.stages.length - 1].contents}
