.politicians-list
  each politician in politicians
    .politicians-list-item.mdl-list__item-avatar.avatar(
      data-politician-modal=politician.id,
      data-tip=politician.fullname,
      style='background-image: url(#{politician.pictureUrl})'
    )
