.home-cover
  position: relative
  padding: 14% 15px 0
  padding-top: 25vh
  height: 420px
  min-height: 50vh
  text-align: center
  background-size: cover

  .logo
    margin: 0 auto 25px
    max-width: 460px
    width: 100%
    opacity: .9

  h1
    max-width: 500px
    margin: 0 auto
    font-weight: bold
    letter-spacing: 1px
    font-size: 5rem

  p
    margin: 0 auto 20px
    max-width: 530px
    width: 100%
    font-family: 'Avenir Next', 'Helvetica', 'Arial', sans-serif
    line-height: 23px
    font-size: 1.2rem
    letter-spacing: 1px

  a
    margin-top: 2%

  i
    color: #fb416a
    margin-top: 7%
    margin-top: 13vh
    animation: bounce 2s infinite

    @keyframes {bounce}
      0%, 20%, 50%, 80%, 100%
        transform: translateY(0);
      40%
        -webkit-transform: translateY(-30px)
        transform: translateY(-30px)
      60%
        -webkit-transform: translateY(-15px)
        transform: translateY(-15px)

.home-bills
  display: flex
  justify-content: center

  .bill-leg
    color: grey
    font-weight: 400
    display: block
    font-size: .8rem
    padding-bottom: 10px

  .mdl-card
    transition-delay: 0

    &:hover
      transition-delay: .15s

  .mdl-card__supporting-text strong
    color: #fb416a
    font-weight: 700
    display: block
    font-size 1rem
    padding-bottom: 30px

  .mdl-card__supporting-text
    flex-grow: 1

  .cards-width
    width: 380px
    margin: 1.6%

  .mdl-card__title
    flex-grow: 0

@media screen and (max-width: 479px)
  .mdl-card
      margin: 3% !important