.home.mdl-layout.mdl-js-layout
  main.mdl-layout__content
    .home-cover
    .home-bills.mdl-grid
      .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col
        .mdl-card__title.mdl-card--expand
          h2.mdl-card__title-text Medios Audiovisuales
        .mdl-card__supporting-text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
        .mdl-card__actions.mdl-card--border
          a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/bills/1234')
            | View Updates
      .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col
        .mdl-card__title.mdl-card--expand
          h2.mdl-card__title-text Medios Audiovisuales
        .mdl-card__supporting-text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
        .mdl-card__actions.mdl-card--border
          a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/bills/1234')
            | View Updates
      .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col
        .mdl-card__title.mdl-card--expand
          h2.mdl-card__title-text Medios Audiovisuales
        .mdl-card__supporting-text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
        .mdl-card__actions.mdl-card--border
          a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/bills/1234')
            | View Updates
      .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col
        .mdl-card__title.mdl-card--expand
          h2.mdl-card__title-text Medios Audiovisuales
        .mdl-card__supporting-text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
        .mdl-card__actions.mdl-card--border
          a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/bills/1234')
            | View Updates
      .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col
        .mdl-card__title.mdl-card--expand
          h2.mdl-card__title-text Medios Audiovisuales
        .mdl-card__supporting-text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
        .mdl-card__actions.mdl-card--border
          a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/bills/1234')
            | View Updates
      .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col
        .mdl-card__title.mdl-card--expand
          h2.mdl-card__title-text Medios Audiovisuales
        .mdl-card__supporting-text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
        .mdl-card__actions.mdl-card--border
          a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/bills/1234')
            | View Updates
    footer.mdl-mini-footer
      .mdl-mini-footer__left-section
        .mdl-logo Bill Tracker
        ul.mdl-mini-footer__link-list
          li: a(href='#') Help
          li: a(href='#') Privacy &amp; Terms
