*
    font-family: 'Avenir Next', sans-serif

.home-cover
  height: 580px
  min-height: 80vh
  background-size: cover
  background-position: center top
  background-image: url('https://images.unsplash.com/photo-1433162653888-a571db5ccccf?crop=entropy&dpr=2&fit=fill&fm=jpg&h=825&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450')
